.background {
  background-color: #9398ff;
  height: 100vh;
}

.mainHeader {
  display: flex;
  padding: 28px;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .title {
  font-weight: 700;
  font-size: 20px;
  color: #191fac;
}

.mainHeader .datetime {
  font-weight: 400;
  font-size: 20px;
  color: #191fac;
}

.mainHeader .datetime .date {
  margin-right: 20px;
}

.body {
  display: flex;
  padding: 40px;
}

.info {
  width: 15%;
}

.career {
  width: 15%;
}

.projects {
  width: 15%;
}

.memo {
  display: flex;
  width: calc(55% - 40px);
  justify-content: flex-end;
  align-items: flex-end;
}
